_garbage
sys/dblogin.php
sys/mailsetup.php
access_log.txt
error_log.txt
sd/_temp
sd/_trash
daemons/studga-xls2db
daemons/xls2db
daemons/_temp
logs/
!logs/.keep
*.xls
*.zip
*.xlsx
yandex*
sd/exceltest
sd/Check*.txt
sd/securimage/*_log
sd/securimage/database/securimage.sq3
stats/
document_errors/
logs_sd/
public_*html
.idea/
